<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
	<display-name>ProTransactions</display-name>
	<servlet>
		<servlet-name>ProTransactions</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>com.homedepot.mm.mr</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProTransactions</servlet-name>
		<url-pattern>/rs/*</url-pattern>
	</servlet-mapping>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>
	<listener>
    	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  	</listener>
	<servlet>
		<description>Download quarterly statement data</description>
		<servlet-name>DownloadStatementData</servlet-name>
		<servlet-class>com.homedepot.mm.mr.service.DownloadStatementService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DownloadStatementData</servlet-name>
		<url-pattern>/DownloadStatementData</url-pattern>
	</servlet-mapping>
	<servlet>
		<description />
		<servlet-name>TestServlet</servlet-name>
		<servlet-class>com.homedepot.mm.mr.service.TestServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>OrangeLogInitServlet</display-name>
		<servlet-name>OrangeLogInitServlet</servlet-name>
		<servlet-class>com.homedepot.ta.aa.log4j.OrangeLogInitServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<display-name>LogManager</display-name>
		<servlet-name>LogManager</servlet-name>
		<servlet-class>com.homedepot.ta.aa.log4j.LogManager</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogManager</servlet-name>
		<url-pattern>/LogManager</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OrangeLogInitServlet</servlet-name>
		<url-pattern>/OrangeLogInitServlet</url-pattern>
	</servlet-mapping>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Restricted Service</web-resource-name>
			<url-pattern>/*</url-pattern>
			<http-method>GET</http-method>
			<http-method>PUT</http-method>
		</web-resource-collection>
		<user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
			<!--<transport-guarantee>CONFIDENTIAL</transport-guarantee> -->
		</user-data-constraint>
	</security-constraint>
</web-app>
